<%= form_with(model: @presentation, local: true) do |f| %>
    <% if @presentation.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>
        <ul>
          <% @presentation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'textbox' %>
    </div>
  <br><br>
    <div class="field">
      <%= f.label :description, class: 'label' %>
      <%= f.text_area :description, class: 'textbox' %>
    </div>
  <br><br>
    <%= f.submit class: "button", class: 'button' %>
  <% end %>
  <br><br>