<% provide(:title, 'Presentations') %>
<h1>All Presentations</h1>
<ul>
  <% @presentations.each do |presentation| %>
    <li>
      <%= link_to presentation.title, presentation_path(presentation) %>
      <%= presentation.description %>
      <%= presentation.date %>
      <%= presentation.time %>
      <%= presentation.presenter&.name %>

    </li>
  <% end %>
</ul>
