<h1>New User</h1>
<%= form_with model: @user, local: true do |form| %>
  <%= form.label :name, class:'label' %>
  <%= form.text_field :name, class:'input' %>
<br><br>
  <%= form.label :email, class:'label' %>
  <%= form.text_field :email, class:'input' %>
<br><br>
  <%= form.label :password, class:'label'%>
  <%= form.password_field :password, class:'input' %>
<br><br>
  <%= form.submit "Create User", class:'button' %>
<% end %>