<h1>New Feedback for <%= @presentation.title %></h1>

<%= form_with(model: [@presentation, @feedback], local: true) do |f| %>
  <% if @feedback.errors.any? %>
    <div>
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :rating, "Rating (1-5)", class: 'label' %>
    <%= f.number_field :rating, in: 1..5 %>
  </div>
<br><br>
  <div>
    <%= f.label :content, "Feedback", class: 'label' %>
    <%= f.text_area :content, class:'textbox' %>
  </div>
<br><br>
  <%= f.submit "Submit Feedback", class: 'button' %>
<% end %>
<br><br>
<div class="actions">
<%= link_to 'Back to Presentation', presentation_path(@presentation) %>
</div>